.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-weight: 700;
}
.btn {
    height: 80%;
    width: 10%;
    margin-top: 2em;
    position: relative;
    left: 50%;
    -ms-transform: (-50%);
    transform: translate(-50%);
}
.border {
    position: relative;
}
@media only screen and (max-width: 1200px) {
   
    .btn {
        width: 30%;
    }
}
@media only screen and (max-width: 600px) {
    .btn {
        width: 50%;
    }
}